/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/Validation/*
/STM32F429ZI_NUCLEO-VEEPort-CM4hardfp_IAR83-1.0.0/*
/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/debug/*
/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/*.dep
/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/release/*
/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/settings/
/stm32f429zi_nucleo_freertos-bsp/projects/microej/EWARM/stm32-nucleo-f429/
/stm32f429zi_nucleo_freertos-bsp/projects/microej/cppcheck/report.xml
